:root {
  --app-blue: rgb(38, 194, 242);
}

body {
  background-color: rgb(41, 40, 40);
  font-family: 'Source Sans Pro', sans-serif;;
}

a {
  text-decoration: none;
  color: white;
}

label {
  color: white;
}
button {
  max-width: 150px;
  margin: 10px;
  border: 2px solid var(--app-blue);
  border-radius: 4px;
  padding: 8px;
  background: none;
  color: white;
  font-size: 18px;
}


.nav-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: rgb(56, 53, 54);

}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  padding-top: 5px;
}

.nav-menu a {
  margin: 0 20px 15px 10px;
  font-size: 20px;
  font-weight: 800;
  color: var(--app-blue);
  white-space: nowrap;

}
.nav-menu a:hover {
  color: white;
}

#app-logo {
  font-family: 'Asap', sans-serif;
  color: var(--app-blue);
  font-size: 60px;
  white-space: nowrap;
  margin: 6px 10px 10px 50px;

}
#library-menu-area {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 80px;
  box-sizing: border-box;
}
.library {
  border: 2px solid var(--app-blue); 
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 25px;
  min-width: 250px;
  max-width: 300px;
  min-height: 150px;
  margin: 18px 0;
  text-align: center;
  color: white;
  background-color: rgb(56, 53, 54);

}


.title {
  font-style: italic;
}

.catalogue {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 35px 25px 10px 10px;
  border-right: 2px solid white;
}
#catalogue-text {
  color: white;
  text-align: center;
  margin-top: 25px;
  font-weight: normal;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  min-width: 375px;
  margin: 2px 30px;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px 12px;
}

.book .title {
  margin-right: 38px;
  font-size: 22px;
}

.book .author {
  font-size: 18px;
}
/* colors for assigning random color to book elements */
.black {
  background: linear-gradient(rgb(40, 38, 38), rgb(16, 15, 15));
  color: rgb(250, 199, 33);
}
.green {
  background: linear-gradient(rgb(69, 116, 69), rgb(45, 63, 45));
  color: rgb(255, 196, 0);
}
.light-green {
  background: linear-gradient(rgb(131, 180, 131), rgb(93, 109, 93));
  color: black;
}
.blue {
  background: linear-gradient(rgb(122, 122, 252), rgb(40, 40, 122));
  color: rgb(253, 223, 166);
}
.light-blue {
  background: linear-gradient(rgb(144, 144, 213), rgb(80, 80, 198));
  color: rgb(250, 249, 248);
}
.brown {
  background: linear-gradient(rgb(157, 114, 35), rgb(116, 68, 5));
  color: whitesmoke;
}
.red-brown {
  background: linear-gradient(rgb(119, 55, 55), rgb(83, 3, 3));
  color: whitesmoke;
}
.red {
  background: linear-gradient( rgb(245, 64, 64), rgb(131, 22, 22));
  color: rgb(221, 220, 220);
}
.purple {
  background: linear-gradient(rgb(134, 67, 134), rgb(78, 26, 61) );
  color: rgb(248, 223, 80)
}
.gray {
  background: linear-gradient(rgb(138, 136, 136), rgb(37, 36, 36));
  color: rgb(250, 199, 33);
}
.tan {
  background: linear-gradient(rgb(196, 182, 163), rgb(161, 136, 102));
  color: black;
}
.orange {
  background: linear-gradient(rgb(196, 102, 51), rgb(142, 58, 13));
  color: black;
}
.app-name {
  color: var(--app-blue);
  font-weight: 700;
  font-family: 'Asap', sans-serif;

}
.add-form, .new-library-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.add-form label, .new-library-form label  {
  margin: 10px;
}
.add-form input, .new-library-form input {
  height: 20px;
  padding: 8px;
  max-width: 65vw;
}

.add-form textarea {
  margin: 10px;
  max-width: 65vw;
}
.book-details {
  border: 2px solid var(--app-blue);
  border-radius: 8px;
  margin: 25px;
  padding: 20px;
  color: white;
}
#details-button-section {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}
.leave-it-button-section, #leave-a-book-button-section {
  display: flex;
  justify-content: flex-end;
}

#leave-a-book-button {
  margin: 15px 60px 0 25px;
  height: 50px;
  min-width: 90px;
  font-size: 16px;
  font-weight: 700;
}
#leave-a-book-button:hover {
  background-color: var(--app-blue);
  color: black;
}

.add-form, .new-library-form, #about-info {
  margin: 30px 45px;
  text-align: justify;
  color: whitesmoke;
  font-size: 22px;
  border: 2px solid var(--app-blue);
  border-radius: 8px;
  padding: 18px 25px;
}
#neighbor-recommendation {
  padding: 10px;
  color: var(--app-blue);
}

@media screen and (min-width: 426px) {
  .book:hover {
    border: 2px solid white;
    margin-right: 80px;
    transition: all 300ms ease-in-out;
  }

  .library:hover {
  background-color: var(--app-blue);
  color: black;
  }
  button:hover {
    background-color: var(--app-blue);
    color: black;
  }
}

@media screen and (max-width: 425px) {
  .nav-menu {
    flex-direction: column;
  }
  #app-logo {
    font-size: 35px;
    margin-left: 10px;
  }
  .book {
    max-width: 350px;
    min-width: 275px
  }
  .book .title {
    font-size: 14px;
  }
  .book .author {
    font-size: 11px;
  }
  .library {
    width: 70vw;
    background-color: var(--app-blue);
    color: black;
  }
  #library-menu-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;

  }
  .add-form textarea {
    min-height: 50px;
  }
  #leave-a-book-button {
    margin-right: 30px;
  }
}